header {
  background-color: #1f7a1f;
  padding: 15px;
  height: auto;
}

div.logo {
  text-align: left;
}

nav {
  background-color: #006600;
  padding: 1px;
}

div.pages {
  text-align: left;
  right: 14px;
}
  
aside {
  background-color: #71da71;
  padding: 20px;
}

div.signup {
  text-align: center;
}
