aside {
  background-color: #71da71;
  padding: 20px;
}

div.introtext {
  text-align: center;
}

div.signup {
  text-align: center;
  border: 5px solid #cccc00;
  background-color: #006600;
  padding: 15px;  
}
