 header {
  background-color: #1f7a1f;
  padding: 15px;
  height: auto;
}

div.logo {
  text-align: left;
}

nav {
  background-color: #006600;
  height: 30px;
}

div.pages {
  text-align: left;
  margin-left: 5px;
  margin-right: 5px;
  bottom: 5px;
}
  
