 header {
  background-color: #1f7a1f;
  padding: 15px;
  height: auto;
}

div.logo {
  text-align: left;
}

nav {
  background-color: #006600;
  padding: 5px;
}
  
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #006600;
}

li {
  float: left;
}

li a {
  display: block;
  color: #cccc00;
  text-align: center;
  padding: 10px;
  text-decoration: none;
}
