aside {
  background-color: #71da71;
  padding: 20px;
  text-align: center;
}

div.music {
  text-align: center;
}

.button {
  border: none;
  margin: 5px;
  background-color: #1f7a1f;
  padding: 10px 20px;
  color: #cccc00;
  cursor: pointer;
  text-align: center;
}

.button:hover {
  background-color: #003300;
}
