aside {
  background-color: #71da71;
  padding: 20px;
  text-align: center;
}

div.box {
  background-color: #ffff99;
  padding: 20px;
  border: 5px solid #cccc00;
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
}

div.boxalign {
  background-color: #71da71;
}

div.left {
  float: left;
  text-align: center;
}

div.right {
  float: right;
  text-align: center;
}

div.websites {
  text-align: left;
}
