header {
  background-color: #1f7a1f;
  padding: 15px;
  height: 75px;
}

div.logo {
  text-align: left;
  vertical-align: top;
  font-size: 50px;
  color: #cccc00;
  font-weight: bold;
}

div.logo img {
  float: left;
  float: top;
}

aside {
  background-color: #71da71;
  padding: 20px;
}

div.signup {
  text-align: center;
}
