p {  
  color: #e6e600;
}
  
header {
  text-align: center;
  background-color: #1f7a1f;
  padding: 20px;
}

div.logo {
  text-align: left;
  font-size: 50px;
  font-weight: bold;
}

div.logo img {
  float: left;
}

aside {
  background-color: #33cc33;
  padding: 50px;
}

div.signup {
  text-align: center;
}
