header{
  text-align: center;
  background-color: #33cc33;
  padding: 20px;
}

div.logo {
  text-align: left;
  font-size: 50px;
  color: #999900;
}

div.logo img {
  float: left;
}

div.buttons {
  text-align: center;
  float: right;
}
